Checks:          'clang-diagnostic-*,clang-analyzer-*,-checks=-*,clang-analyzer-*,-clang-analyzer-cplusplus*'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
User:            pedro.ciambra
CheckOptions:    {}
SystemHeaders:   false