setuptools
ipykernel
ipython
jupyter-client
jupyter-core
matplotlib
numpy
pandas
pulp
sympy
pyyaml
nbconvert
plotly
altair
gdown
astropy
sep
# interactive drag-to-re-pivot notebook cell (PivotTable.js); jupyterlab to view widgets
jupyterlab
pivottablejs
